<mat-sidenav-container class="container" fullscreen>

    <mat-sidenav [mode]="sideNavMode" class="sidenav" #sidenav [opened]="sideNavOpened" style="overflow: hidden;">
        <mat-toolbar color="primary" class="mat-elevation-z4 table-header">
            <!-- <img src="./assets/logo.codetok.png" width="36px" height="50px"> -->
            <img style="height: 2.5vw;width: 3vw;" src="assets\images\logo\logo.png">
            <!-- <img style="height: 1vw;width: 12vw;" src="assets\images\logo\tirot.png"> -->
            <h1 style="font-size: 26px;font-family: Roboto;color:white;margin-top: 8px">
                TIROT Admin
            </h1>
        </mat-toolbar>
        <cdk-sidemenu></cdk-sidemenu>
    </mat-sidenav>

    <mat-sidenav-content style="z-index: unset;overflow: hidden;">
       
        <mat-drawer-container fullscreen>
            <mat-drawer mode="side" #drawer class="drawer" [opened]="matDrawerOpened" style="overflow: hidden;">
                <mat-toolbar color="primary" class="mat-elevation-z4 table-header">
                    <img style="height: 2.5vw;width: 4.5vw;" src="assets\images\logo\logo.png">
                    <!-- <img src="./assets/logo.codetok.png" width="36px" height="50px"> -->
                </mat-toolbar>
                <cdk-sidemenu [iconOnly]="true"></cdk-sidemenu>
            </mat-drawer>

          
            <mat-drawer-content style="overflow: hidden;" >
               <cdk-toolbar [sidenav]="sidenav" [drawer]="drawer" [matDrawerShow]="matDrawerShow" style="z-index: 500"></cdk-toolbar>
             
                <perfect-scrollbar style="height: calc(100% - 33px);">
                    <div style="height: 100%;">
                        <div class="spinner-loading-shade" *ngIf="showLoader">
                            <mat-spinner *ngIf="showLoader"></mat-spinner> 
                            </div>
                        <router-outlet #route="outlet"></router-outlet>
                    </div>

                </perfect-scrollbar>
            </mat-drawer-content>
        </mat-drawer-container>
    </mat-sidenav-content>

    <!-- <mat-sidenav #sidenav2 position="end" mode="over">
    
    <cdk-sidebar></cdk-sidebar>
    </mat-sidenav> -->

</mat-sidenav-container>