:host {
  z-index: 4;
}

.table-header {
  height: 50px;
}
.mat-toolbar-row,
.mat-toolbar-single-row {
  padding: 0 0px;
}

.main-toolbar {
  height: 64px;
  padding-left: 16px;
}

.more-btn {
  height: 100%;
  min-width: 70px;
}

.mat-icon-button {
  margin-right: 10px;
}
