
.table-container {
    padding: 5px 15px 15px 15px;
}
.table-component-holder {
    border: 1px solid #327ebd;
    background-color: white;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .Role-Name{
    width: 20;
  }

  .UserRole{
    width: 20;
  }
  .PrefixName{
    width: 20;
  }
  .FirstName{
    width: 25;
  }
  .LastName{
    width: 25;
  }

  .User-Name{
    width: 50;
  }

  .Defail-linguage-Code{
    font-size: 22px;
    font: 0.9em sans-serif;
  }
  [dir='rtl'] .example-option-img {
    margin-right: 0;
    margin-left: 8px;
  }

 



  