<div fxLayout="column" class="components-container-gt-xs" fxLayoutGap="20px">
  <div fxFlex class="table-component-holder mat-elevation-z4">
    <mat-toolbar class="table-header">
      <h1 class="mat-headline center-align">Production Planning Entry</h1>
    </mat-toolbar>

    <div class="table-container">
      <div class="container" fxLayout="row" fxLayout.xs="column" fxFlexFill>
        <div fxFlex="5">
          <div class="item item-1">
            <button mat-raised-button color="primary" (click)="btnSaveClick()">
              Save
            </button>
          </div>
        </div>

        <div fxFlex="40"></div>

        <div fxFlex="5">
          <div class="item item-1" [ngSwitch]="this.RowID">
            <p *ngSwitchCase="'new'"></p>

            <button *ngSwitchDefault mat-raised-button color="accent" (click)="btnDeleteClick()">
              Delete
            </button>
          </div>
        </div>
        <div fxFlex="40"></div>

        <div fxFlex="5">
          <div class="item item-1">
            <button mat-raised-button color="warn" (click)="btnCloseClick()">
              Close
            </button>
          </div>
        </div>
        <!-- <div fxFlex="45"></div> -->
      </div>

      <br />

      <br />

      <!-- <mat-button-toggle-group #group="matButtonToggleGroup" value="btnmonth">
        <mat-button-toggle value="btnlist" (click)="view = 'list'" [class.active]="view === 'list'">
          <mat-icon>list_view</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="btnmonth" (click)="view = 'month'" [class.active]="view === 'month'">
          <mat-icon>date_range</mat-icon>
        </mat-button-toggle>

      </mat-button-toggle-group> -->

      <!-- PR = Production Record -->
      <!-- NR = None Record -->
      <mat-radio-group [(ngModel)]="objProductionPlaning.planType">
        <mat-radio-button value="PR">Production</mat-radio-button>
        <mat-radio-button value="NR">None Production</mat-radio-button>
      </mat-radio-group>
      <br />
      <br />
      <div [ngSwitch]="objProductionPlaning.planType">
        <div class="container" fxLayout="row" fxLayout.xs="column" fxFlexFill>
          <div fxFlex="20">
            <div *ngSwitchCase="'PR'">
              <!-- <mat-form-field class="formfield-full-width">
                <input matInput placeholder="Production Order No" [(ngModel)]="ProductionOrderNo" readonly="true">
              </mat-form-field> -->

              <mat-form-field class="formfield-full-width">
                <input type="text" placeholder="Production Order No" [readonly]="ProductionOrderNoReadOnly"
                  [(ngModel)]="ProductionOrderNo" aria-label="Number" matInput [formControl]="myControl"
                  [matAutocomplete]="auto" />
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of (filteredOpenProductionOrder | async)"
                    [value]="option.productionOrderNo">
                    {{ option.productionOrderNo }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div *ngSwitchCase="'NR'">
              <!-- <mat-form-field class="formfield-full-width">
                <input matInput autocomplete="off" placeholder="Activity" />
              </mat-form-field> -->

              <mat-form-field class="formfield-full-width">
                <!-- <input matInput class="inputright" [(ngModel)]="ProcessID_NR" placeholder="Process"> -->
                <mat-select placeholder="Process" [(ngModel)]="ProcessID_NR" (change)="caltime()" >
                  <mat-option *ngFor="let objProcess of arrobjProcessNR" [value]="objProcess.id">
                    {{ objProcess.processName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="7"></div>
          <div fxFlex="20">
            <div *ngSwitchCase="'PR'">
              <div *ngIf="ProductionOrderNoReadOnly">
                <mat-form-field class="formfield-full-width">
                  <input matInput placeholder="Product" [readonly]="ProductionOrderNoReadOnly"
                    [(ngModel)]="objProductionPlaning.product.productName" />
                </mat-form-field>
              </div>
              <div *ngIf="!ProductionOrderNoReadOnly">
                <mat-form-field class="formfield-full-width">
                  <mat-select placeholder="Product" [(ngModel)]="ProductID" (change)="ddlProduct_Change()">
                    <mat-option *ngFor="let objProduct of arrobjProduct" [value]="objProduct.id">
                      {{ objProduct.productName }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div *ngSwitchCase="'NR'">
              
            </div>
          </div>
          <div fxFlex="6"></div>
          <div fxFlex="20">
            <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
              <div fxFlex="30">
                <div *ngSwitchCase="'PR'">
                  <div *ngIf="ProductionOrderNoReadOnly">
                    <mat-form-field class="formfield-full-width">
                      <input matInput placeholder="LotNo" [readonly]="ProductionOrderNoReadOnly" [(ngModel)]="LotNo" />
                    </mat-form-field>
                  </div>
                  <div *ngIf="!ProductionOrderNoReadOnly">
                    <mat-form-field class="formfield-full-width">
                      <mat-select placeholder="LotNo" [(value)]="LotNo" (change)="ddlLotNo_Change()">
                        <mat-option value="0">New</mat-option>
                        <mat-option *ngFor="let objLotno of arrobjLotNo" [value]="objLotno.id">
                          {{ objLotno.id }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div fxFlex="5px"></div>
              <div fxFlex="70">
                <div *ngSwitchCase="'PR'">
                  <mat-form-field class="formfield-full-width">
                    <input matInput readonly="true" [(ngModel)]="JobOrderNo" placeholder="Job Order No." />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>

          <div fxFlex="7"></div>
          <div fxFlex="20">
            <mat-form-field class="formfield-full-width">
              <input matInput readonly="true" [matDatepicker]="pickerProductionOrderDate" [(ngModel)]="planDate"
                (dateChange)="dtpplanDate_Change($event)" placeholder="Planing Date" />
              <mat-datepicker-toggle matSuffix [for]="pickerProductionOrderDate"></mat-datepicker-toggle>
              <mat-datepicker #pickerProductionOrderDate></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div *ngSwitchCase="'PR'">
          <div class="container" fxLayout="row" fxLayout.xs="column" fxFlexFill>
            <div fxFlex="20">
              <mat-form-field class="formfield-full-width">
                <input matInput class="inputright" [(ngModel)]="totalOrder" readonly="true"
                  placeholder="Total Order Length(m)" />
              </mat-form-field>
            </div>
            <div fxFlex="7"></div>
            <div fxFlex="20">
              <mat-form-field class="formfield-full-width">
                <input matInput class="inputright" [(ngModel)]="totalPlan" readonly="true"
                  placeholder="Planed Length(m)" />
              </mat-form-field>
            </div>
            <div fxFlex="6"></div>
            <div fxFlex="20">
              <mat-form-field class="formfield-full-width">
                <input matInput class="inputright" [(ngModel)]="totalWIP" readonly="true" placeholder="WIP Length(m)" />
              </mat-form-field>
            </div>
            <div fxFlex="7"></div>
            <div fxFlex="20">
              <mat-form-field class="formfield-full-width">
                <input matInput class="inputright" [(ngModel)]="totalFG" readonly="true" placeholder="FG Length(m)" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'PR'">
          <div class="container" fxLayout="row" fxLayout.xs="column" fxFlexFill>
            <div fxFlex="20">
              <mat-form-field class="formfield-full-width">
                <input matInput class="inputright" [(ngModel)]="RollNo_OrderNo" placeholder="Roll No./Order No." />
              </mat-form-field>
            </div>
            <div fxFlex="7"></div>
            <div fxFlex="20">
              <div *ngIf="RowID == 'new'">
                <mat-form-field class="formfield-full-width">
                  <input matInput class="inputright" [readonly]="true" [(ngModel)]="objProcessID_PR.processName"
                    placeholder="Process" />
                </mat-form-field>
              </div>
              <div *ngIf="RowID != 'new'">
                <mat-form-field class="formfield-full-width">
                  <input matInput class="inputright" [readonly]="true" [(ngModel)]="processName"
                    placeholder="Process" />
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="6"></div>
            <div fxFlex="20">
              <mat-form-field class="formfield-full-width">
                <input matInput class="inputright" (change)="caltime()" [(ngModel)]="planQty" autocomplete="off"
                  type="number" step="100" placeholder="Order Length(m)" />
              </mat-form-field>
            </div>
            <div fxFlex="7"></div>
            <div fxFlex="20">
              <mat-form-field class="formfield-full-width">
                <mat-select placeholder="Standard" [(value)]="StandardID">
                  <mat-option *ngFor="let objStandard of objarrStandard" [value]="objStandard.id">
                    {{ objStandard.standardName }}
                  </mat-option>
                </mat-select>

                <!-- <input matInput class="inputright" [(ngModel)]="objProcessID_PR.defaultStandard" placeholder="Standard"> -->
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="container" fxLayout="row" fxLayout.xs="column" fxFlexFill>
          <div fxFlex="20">
            <mat-form-field class="formfield-full-width">
              <input matInput class="inputright" autocomplete="off" [textMask]="{ mask: maskTime }"
                [(ngModel)]="planStartTime" (input)="planStartTimeOnInput($event.target.value)" (change)="caltime()"
                placeholder="Start Time" />
            </mat-form-field>

            <!-- <input type="time" style="width: 100%" atp-time-picker [(ngModel)]="planStartTime"  (blur)="caltime()" /> -->
          </div>
          <div fxFlex="7"></div>
          <div fxFlex="20">
            <mat-form-field class="formfield-full-width">
              <input matInput class="inputright" autocomplete="off" [textMask]="{ mask: maskTime }"
                [(ngModel)]="planFinishTime" (input)="planFinishTimeOnInput($event.target.value)"
                placeholder="Finish Time" />
            </mat-form-field>
            <!-- <input type="time" style="width: 100%" atp-time-picker [(ngModel)]="planFinishTime"/> -->
          </div>
          <div fxFlex="6"></div>
          <div fxFlex="20">
            <mat-form-field class="formfield-full-width">
              <mat-select placeholder="Shift" [(ngModel)]="objProductionPlaning.shiftId"
                (change)="ShiftChange($event.value)">
                <mat-option *ngFor="let objShift of arrobjShift" [value]="objShift.id">
                  {{ objShift.shiftName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="7"></div>
          <div fxFlex="20">
            <mat-form-field class="formfield-full-width">
              <mat-select placeholder="Team" [(ngModel)]="objProductionPlaning.wokingTeamId"
                (change)="TeamChange($event.value)">
                <mat-option *ngFor="let objTeam of arrobjTeam" [value]="objTeam.id">
                  {{ objTeam.teamName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="container" fxLayout="row" fxLayout.xs="column" fxFlexFill>
          <div fxFlex="73">
            <mat-form-field class="formfield-full-width">
              <input matInput [(ngModel)]="objProductionPlaning.remark" autocomplete="off" placeholder="Remark" />
            </mat-form-field>
          </div>
          <div fxFlex="7"></div>
          <div fxFlex="20"></div>
        </div>

        <div class="container" fxLayout="row" fxLayout.xs="column" fxFlexFill>
          <div fxFlex="100">
            <mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="lotNo">
                <mat-header-cell class="mat-header-cell" *matHeaderCellDef mat-sort-header>Lot No.</mat-header-cell>
                <mat-cell *matCellDef="let productionplan" class="mat-column-lotNo">
                  {{ productionplan.lotNo }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="jobOrderNo">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Job Order No.</mat-header-cell>
                <mat-cell *matCellDef="let productionplan">
                  {{ productionplan.jobOrderNo }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="rollNo">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Roll No.</mat-header-cell>
                <mat-cell *matCellDef="let productionplan">
                  {{ productionplan.rollNo }}
                </mat-cell>
              </ng-container>
      
              <ng-container matColumnDef="processName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Process Name</mat-header-cell>
                <mat-cell *matCellDef="let productionplan" class="mat-cell-number">
                  {{ productionplan.processName }}
                </mat-cell>
              </ng-container>

  
              <ng-container matColumnDef="productionDateTime">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Start Time</mat-header-cell>
                <mat-cell *matCellDef="let productionplan" class="mat-cell-number">
                  {{ productionplan.planDateTime | date: "HH:mm"}}
                </mat-cell>
              </ng-container> 

              <ng-container matColumnDef="planFinishTime">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Finish Time</mat-header-cell>
                <mat-cell *matCellDef="let productionplan" class="mat-cell-number">
                  {{ productionplan.planFinishTime | date: "HH:mm"}}
                </mat-cell>
              </ng-container>
            

              <ng-container matColumnDef="planQty">
                <mat-header-cell class="mat-column-planQty" *matHeaderCellDef mat-sort-header>Plan Qty</mat-header-cell>
                <mat-cell *matCellDef="let productionplan" class="mat-column-planQty">
                  {{ productionplan.planQty | number: 0 }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="fgQty">
                <mat-header-cell class="mat-column-lotNo" *matHeaderCellDef mat-sort-header>FG Qty</mat-header-cell>
                <mat-cell *matCellDef="let productionplan" class="mat-column-lotNo">
                  {{ productionplan.fgQty | number: 0 }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="planDateTime">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Plan Date</mat-header-cell>
                <mat-cell *matCellDef="let productionplan" class="mat-cell-number">
                  {{ productionplan.planDateTime | date: "dd/MM/yyyy" }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                  <!-- <button mat-icon-button class="button-icon" color="primary" >
                    <mat-icon class="white-icon" aria-label="Example icon-button with a heart icon">add</mat-icon>
                  </button> -->
                  <button mat-button class="actions" (click)="btnplanview()">Plan View</button>
                </mat-header-cell>
                <mat-cell *matCellDef="let productionplan" class="mat-cell-number">

                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns" matRipple class="element-row"></mat-row>
            </mat-table>

            <mat-paginator [length]="5" [pageSize]="10" [pageSizeOptions]="[10, 25]">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>