.mat-select-Machine{
    
    ::ng-deep .mat-select-value-text {
        font-size: 12pt;
        color: white;
      }
    
    ::ng-deep .mat-select-arrow
      {
        color: white;
      }
    
}

::ng-deep .no-line .mat-form-field-underline {
    display: none;
  }

  ::ng-deep .no-line.mat-form-field{
    text-align: right;
  }
