<div class="container">
  <div class="spinner-new-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="container" fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <mat-form-field class="formfield-full-width">
      <input
        matInput
        placeholder="User name"
        [(ngModel)]="currentUserName"
        autocomplete="off"
        readonly="true"
      />
    </mat-form-field>
  </div>

  <div class="container" fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <mat-form-field class="formfield-full-width">
      <table style="width: 100%">
        <tr>
          <td style="width: 90%">
            <input
              matInput
              placeholder="Old password"
              [(ngModel)]="oldPassword"
              autocomplete="off"
              [type]="isShowOldPassword ? 'password' : 'text'"
              required
            />
          </td>
          <td style="width: 10%">
            <button
              mat-icon-button
              (mousedown)="onMouseDownShowOldPassword()"
              (mouseup)="onMouseUpShowOldPassword()"
              tabindex="-1"
            >
              <mat-icon>remove_red_eye</mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </mat-form-field>
  </div>

  <div class="container" fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <mat-form-field class="formfield-full-width">
      <table style="width: 100%">
        <tr>
          <td style="width: 90%">
            <input
              matInput
              placeholder="New password"
              [(ngModel)]="newPassword"
              autocomplete="off"
              [type]="isShowNewPassword ? 'password' : 'text'"
              required
            />
          </td>
          <td style="width: 10%">
            <button
              mat-icon-button
              (mousedown)="onMouseDownShowNewPassword()"
              (mouseup)="onMouseUpShowNewPassword()"
              tabindex="-1"
            >
              <mat-icon>remove_red_eye</mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </mat-form-field>
  </div>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <mat-form-field class="formfield-full-width">
      <table style="width: 100%">
        <tr>
          <td style="width: 90%">
            <input
              matInput
              placeholder="Confirm new password"
              [(ngModel)]="confirmNewPassword"
              autocomplete="off"
              [type]="isShowConfirmNewPassword ? 'password' : 'text'"
              required
            />
          </td>
          <td style="width: 10%">
            <button
              mat-icon-button
              (mousedown)="onMouseDownShowConfirmNewPassword()"
              (mouseup)="onMouseUpShowConfirmNewPassword()"
              tabindex="-1"
            >
              <mat-icon>remove_red_eye</mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </mat-form-field>
  </div>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <!-- <button mat-button [mat-dialog-close]="formulaText" cdkFocusInitial>
              Ok
            </button> -->
    <div mat-dialog-actions>
      <button
        mat-button
        mat-raised-button
        color="primary"
        (click)="onClickSave()"
        cdkFocusInitial
      >
        Save
      </button>
      <button mat-raised-button color="accent" mat-button (click)="onCancel()">
        Cancle
      </button>
    </div>
  </div>
</div>
