<div fxLayout="column" class="components-container-gt-xs" fxLayoutGap="20px">
  
    <div fxFlex class="table-component-holder mat-elevation-z4">
      <mat-toolbar class="table-header">
        <h1 class="mat-headline center-align">Customer</h1>
      </mat-toolbar>
  
      <div class="table-container">
  
        <div class="container" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
          <div class="item item-1">
            <button  mat-raised-button color="primary"(click)="btnSaveClick()">Save</button>
          </div>
          <div class="item item-2" fxFlex="100%">
  
          </div>
          <div class="item item-3">
            <button mat-raised-button color="accent" (click)="btnCloseClick()">Close</button>
          </div>
        </div>

          <!-- <form class="example-form"> -->
            <table width="100%">
            <tr>
              <td style="width: 10%;">
                <mat-form-field class="example-full-width">
                  <input matInput maxlength="10" required placeholder="Customer Code" [(ngModel)]="objRow.customerCode"[ngModelOptions]="{standalone: true}" >
                </mat-form-field>
              </td>
              <td style="width: 30%;">
                <mat-form-field class="example-full-width">
                  <input matInput #input maxlength="100" required placeholder="Customer Name" [(ngModel)]="objRow.customerName" [ngModelOptions]="{standalone: true}" >
                </mat-form-field>
              </td>  
              <td style="width: 10%;">
                <mat-form-field class="example-full-width">
                  <input matInput #input maxlength="25" required placeholder="Short Name" [(ngModel)]="objRow.customerShortName" [ngModelOptions]="{standalone: true}" >
                </mat-form-field>
              </td>
            </tr>
            </table>
            <!-- <tr> -->
              <table width="100%">
              <td style="width: 100%;">
                <mat-form-field class="example-full-width">
                  <input matInput  #input maxlength="100"required placeholder="Address 1" [(ngModel)]="objRow.address1" [ngModelOptions]="{standalone: true}" >
                </mat-form-field>
              </td>
            <!-- </tr> -->
            <tr>
              <td style="width: 100%">
                <mat-form-field class="example-full-width">
                  <input matInput #input maxlength="100"placeholder="Address 2" [(ngModel)]="objRow.address2" [ngModelOptions]="{standalone: true}" >
                </mat-form-field>
              </td>
            </tr>
          </table>
          <table width="100%">
            <td style="width: 100%;">
              <mat-form-field class="example-full-width">
                <mat-select input placeholder="Country Name" [(ngModel)]="CountryID" [ngModelOptions]="{standalone: true}" >
                    <mat-option *ngFor="let country of objCountry" [value]="country.id" >
                          {{country.countryName}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
            </td>
          </table>
          <table width="100%">
            <tr>
              <td style="width: 10%;">
                  <mat-card-title>Contract Person 1</mat-card-title>
              </td>
            </tr>
          </table>
          <mat-card>
          <table width="100%">
            <tr>
              <td style="width: 50%;">
                <mat-form-field class="example-full-width">
                  <input matInput #input maxlength="50"placeholder="Contract Person" [(ngModel)]="objRow.contractPerson" [ngModelOptions]="{standalone: true}" >
                  <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
              </td>
              <td style="width: 50%;">
                <mat-form-field class="example-full-width">
                  <input matInput #input maxlength="50"placeholder="Email Address" [(ngModel)]="objRow.emailAddress" [ngModelOptions]="{standalone: true}" >
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
              </td>  
            </tr>
          </table>
          <table width="100%">
            <tr>
              <td style="width: 50%;">
                <mat-form-field class="example-full-width">
                  <input matInput #phoneNo maxlength="10"placeholder="Phone Number"[(ngModel)]="objRow.phoneNo" [ngModelOptions]="{standalone: true}" >
                  <mat-icon matSuffix>phone</mat-icon>
                  <!-- <mat-hint align="end">{{phoneNo.value.length}} / 10</mat-hint> -->
                </mat-form-field>
              </td>
              <td style="width: 50%;">
                <mat-form-field class="example-full-width">
                  <input matInput #input maxlength="10"placeholder="Fax Number" [(ngModel)]="objRow.faxNo" [ngModelOptions]="{standalone: true}" >
                </mat-form-field>
              </td>
              
            </tr>
          </table>
          <table width="100%">
            <tr>
              <td style="width: 50%;">
                <mat-form-field class="example-full-width">
                  <input matInput #phoneNo maxlength="10"placeholder="Line Contract"[(ngModel)]="objRow.lineContract" [ngModelOptions]="{standalone: true}" >
                </mat-form-field>
              </td>
            </tr>
          </table>
        </mat-card>
        <table width="100%">
          <tr>
            <td style="width: 10%;">
                <mat-card-title>Contract Person 2</mat-card-title>
            </td>
          </tr>
        </table>
        <mat-card>
          <table width="100%">
            <tr>
              <td style="width: 50%;">
                <mat-form-field class="example-full-width">
                  <input matInput #input maxlength="50"placeholder="Contract Person" [(ngModel)]="objRow.contractPerson2" [ngModelOptions]="{standalone: true}" >
                  <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
              </td>
              <td style="width: 50%;">
                <mat-form-field class="example-full-width">
                  <input matInput #input maxlength="50"placeholder="Email Address" [(ngModel)]="objRow.emailAddress2" [ngModelOptions]="{standalone: true}" >
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
              </td>  
            </tr>
          </table>
          <table width="100%">
            <tr>
              <td style="width: 50%;">
                <mat-form-field class="example-full-width">
                  <input matInput #phoneNo maxlength="10"placeholder="Phone Number"[(ngModel)]="objRow.phoneNo2" [ngModelOptions]="{standalone: true}" >
                  <mat-icon matSuffix>phone</mat-icon>
                  <!-- <mat-hint align="end">{{phoneNo.value.length}} / 10</mat-hint> -->
                </mat-form-field>
              </td>
              <td style="width: 50%;">
                <mat-form-field class="example-full-width">
                  <input matInput #input maxlength="10"placeholder="Fax Number" [(ngModel)]="objRow.faxNo2" [ngModelOptions]="{standalone: true}" >
                </mat-form-field>
              </td>  
            </tr>
          </table>
          <table width="100%">
              <tr>
                <td style="width: 50%;">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Line Contract"[(ngModel)]="objRow.lineContract2" [ngModelOptions]="{standalone: true}" >
                  </mat-form-field>
                </td>
              </tr>
            </table>
        </mat-card>
        <table width="100%">
          <tr>
            <td style="width: 10%;">
                <mat-card-title>Contract Person 3</mat-card-title>
            </td>
          </tr>
        </table>
        <mat-card>
          <table width="100%">
            <tr>
              <td style="width: 50%;">
                <mat-form-field class="example-full-width">
                  <input matInput #input maxlength="50"placeholder="Contract Person" [(ngModel)]="objRow.contractPerson3" [ngModelOptions]="{standalone: true}" >
                  <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
              </td>
              <td style="width: 50%;">
                <mat-form-field class="example-full-width">
                  <input matInput #input maxlength="50"placeholder="Email Address" [(ngModel)]="objRow.emailAddress3" [ngModelOptions]="{standalone: true}" >
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
              </td>  
            </tr>
          </table>
          <table width="100%">
            <tr>
              <td style="width: 50%;">
                <mat-form-field class="example-full-width">
                  <input matInput #phoneNo maxlength="10"placeholder="Phone Number"[(ngModel)]="objRow.phoneNo3" [ngModelOptions]="{standalone: true}" >
                  <mat-icon matSuffix>phone</mat-icon>
                  <!-- <mat-hint align="end">{{phoneNo.value.length}} / 10</mat-hint> -->
                </mat-form-field>
              </td>
              <td style="width: 50%;">
                <mat-form-field class="example-full-width">
                  <input matInput #input maxlength="10"placeholder="Fax Number" [(ngModel)]="objRow.faxNo3" [ngModelOptions]="{standalone: true}" >
                </mat-form-field>
              </td>  
            </tr>
          </table>
          <table width="100%">
              <tr>
                <td style="width: 50%;">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Line Contract"[(ngModel)]="objRow.lineContract3" [ngModelOptions]="{standalone: true}" >
                  </mat-form-field>
                </td>
              </tr>
            </table>
        </mat-card>

            
            <mat-checkbox [(ngModel)]="objRow.inActivated" [ngModelOptions]="{standalone: true}"  >InActive</mat-checkbox>

          <!-- </form> -->
        
      </div>
    </div>
  </div>