
.table-container {
    padding: 5px 15px 15px 15px;
}
.table-component-holder {
    border: 1px solid #327ebd;
    background-color: white;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }


// .mat-row:hover {
//   background-color:#ffe0cc;
// }

.mat-header-cell {
    display:flex;
    justify-content:center;
 }

   
.mat-column-actions {
    flex: 0 0 85px;
    align-content: center;
}
