<div fxFlex class="mat-elevation-z4" style="width: 230px; border-radius: 5px;">
  <div style="border-top-left-radius: 5px;border-top-right-radius: 5px;" [ngClass]="{'header-off' : objCurentMachine.curentStatus == 0,
              'header-running' : objCurentMachine.curentStatus == 1,
              'header-setup' : objCurentMachine.curentStatus == 2,
              'header-stop' : objCurentMachine.curentStatus == 3,
              'header-qa' : objCurentMachine.curentStatus == 4}">


    <table style="padding: 10px" cellpadding=0; cellspacing=0 width="100%">
      <tr>
        <td align="center" >
          <button mat-fab [ngClass]="{'fab-off' : objCurentMachine.curentStatus == 0,
          'fab-running' : objCurentMachine.curentStatus == 1,
          'fab-setup' : objCurentMachine.curentStatus == 2,
          'fab-stop' : objCurentMachine.curentStatus == 3,
          'fab-qa' : objCurentMachine.curentStatus == 4}"></button>
        </td>
        <td>
          <table cellpadding=0; cellspacing=0 width="100%">
            <tr>
              <td>
                <mat-card-title>{{objCurentMachine.machineName}}</mat-card-title>
              </td>
            </tr>
            <tr>
              <td>
                <mat-card-subtitle>{{objCurentMachine.machineModel}}</mat-card-subtitle>
              </td>
            </tr>
            <tr>
              <td>
                <mat-card-subtitle>{{objCurentMachine.curentStatus == 0 ?  'Off' :
                                     objCurentMachine.curentStatus == 1 ?  'Running' :
                                     objCurentMachine.curentStatus == 2 ?  'Setup' :
                                     objCurentMachine.curentStatus == 3 ?  'Stop' :
                                     objCurentMachine.curentStatus == 4 ?  'QA' : ''}}</mat-card-subtitle>
              </td>
            </tr>
            <!-- <tr>
              <td align="center">
                <div fxFlex class="card-running" style="height:25px;line-height:25px;border-radius: 15px;color: white">
                  Running
                </div>
              </td>
            </tr> -->
          </table>
        </td>
      </tr>
    </table>




  </div>
  <div style="background-color: white; height: 155px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;">
    <table style="padding: 10px" cellpadding=3; cellspacing=0 width="100%">
      <tr>
        <td style="width: 30%">
          Producing:
        </td>
      
        <td style="width: 70%">
          {{objCurentMachine.producing}}
        </td>
      </tr>
      <tr>
        <td style="width: 70%">
          Lot No.:
        </td>
        
        <td style="width: 75%">
          {{objCurentMachine.lotNo}}
        </td>
      </tr>
      <tr>
        <td style="width: 30%">
          Worker:
        </td>
        
        <td style="width: 70%">
          {{objCurentMachine.workerName}}
        </td>
      </tr>
      <tr>
        <td style="width: 30%">
          Start Time:
        </td>
       
        <td style="width: 70%">
          {{objCurentMachine.lotStartTime | date : "HH:mm"}}
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <table style="padding: 2px" cellpadding=0; cellspacing=0 width="100%">
            <tr>
              <td align="center" >
                
                  <button (click)="btnDashboardClick()" style="background-color: rgb(63, 81, 181)" mat-raised-button  matTooltip="Current Produce Status" >
                      <mat-icon style="color: white">dashboard</mat-icon>
                  </button>
                <!-- <button mat-icon-button>
                  <mat-icon  style="background-color: aqua" >dashboard</mat-icon>
                </button> -->
              </td>
              <td align="center">
                  <button (click)="btnRealTimeMonitoringClick()"  style="background-color: rgb(63, 81, 181)" mat-raised-button matTooltip="Real-Time Monitoring" >
                      <mat-icon  style="color: white" >show_chart</mat-icon>
                  </button>

                <!-- <button mat-icon-button>
                  <mat-icon >show_chart</mat-icon>
                </button> -->
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

  </div>

</div>
<!-- 
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card> -->