.fab-off {
  background-color:rgb(104, 104, 104);
  }

  .header-off{
    background-color:rgb(214, 214, 214);
  }

.fab-running {
    background-color:rgb(64, 219, 64);
  }

  .header-running{
    background-color:rgb(214, 243, 215);
  }
  
  .fab-stop {
    background-color:rgb(228, 13, 13);

    
  }

  .header-stop{
    background-color:rgb(245, 223, 223);


  }

  .fab-qa {
    background-color:rgb(64, 67, 219);
  }

  .header-qa{
    background-color:rgb(199, 216, 247);
  }

  .fab-setup {
    background-color:rgb(255, 244, 93);


  }

  .header-setup{
    background-color:rgb(255, 255, 232);

    
  }

  